<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>

        <h:form id="formUpload">          
            <p:growl id="growlArchivo" sticky="false" life="200" showDetail="true" />
            <p:dialog id="dialogUpload" widgetVar="DialogFile" header="Seleccione Archivo"  resizable="false" width="75%"
                      showEffect="clip" hideEffect="clip" position="center" modal="true"  draggable="false" 
                      closeOnEscape="true" >                           

                <p:fileUpload  widgetVar="FileU" invalidFileMessage="Archivo no valido" messageTemplate="Debe de ser (.png)" 
                               allowTypes="/(.png)$/" label="Archivo" fileLimitMessage="El límite es de un archivo" multiple="true"
                               uploadLabel="Subir" cancelLabel="Cancelar" fileUploadListener="#{subidaControlador.handleFileUpload}" 
                               onstart="PF('DialogFile').hide();"  id="fileUpdateID"  />
            </p:dialog>
        </h:form>


        <h:form id="form1" >  
            <p:growl showDetail="true" sticky="true"/>
            <p:panelGrid columns="2" layout="grid">
                <p:commandButton value="Subir Archivo" oncomplete="PF('DialogFile').show();" id="botonAceptar"/>
                <p:commandButton value="Mostrar archivos" action="#{subidaControlador.guardar()}" update="form1" id="botonLlenarB"/>
            </p:panelGrid>

            <p:dataTable value="#{subidaControlador.archivos}" var="item">
                <p:column>
                    #{item}
                </p:column>
            </p:dataTable>

        </h:form>
    </h:body>
</html>

